{% extends 'main.html' %}
<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>

    <body>
        {% block mycontent %}
     
        
            <div class="row px-md-4 px-2 pt-4">
                <div class="col-lg-8">
                    <p class="pb-2 fw-bold">Order</p>
                    <div class="card">
                        <div class="ribbon ribbon-top-right"><span>Product In your Cart</span></div>
                        <div>
                            <div class="table-responsive px-md-4 px-2 pt-3">
                                <table class="table table-borderless">
                                    <tbody>
                                        {% for i in cartobj %}
                                        <tr class="border-bottom">
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <div> <img style="object-fit: cover; object-position: center; width: 100px; height: 100px; padding: 10px;" class="pic" src='{{i.productid.image.url}}' alt=""> </div>
                                                    <div class="ps-3 d-flex flex-column justify-content">
                                                        <p class="fw-bold">{{i.productid.name}}</p> <small class=" d-flex"> <span class=" text-muted">Quantity:</span> <span class=" fw-bold">{{i.quantity}}</span> </small> <small class=""> <span class=" text-muted">Total Price:</span> <span class=" fw-bold">{{i.totalamount}}</span> </small>
                                                    </div>
                                                </div>
                                            </td>
                                            
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 payment-summary">
                    <p class="fw-bold pt-lg-0 pt-4 pb-2">Payment Summary</p>
                    <div class="card px-md-3 px-2 pt-4">
                    <form method="POST" action="{% url 'placeorder'%}">
                        {% csrf_token %}
                        <div class="unregistered mb-4"><span class="py-1">Total Bill: {{totalbill}} Rs. </span> </div>
                       
                        <div class="card px-md-3 px-2 pt-4">
                        <div class="unregistered mb-4"><span class="py-1">Address</span></div>
                        <div class="d-flex justify-content-between b-bottom"> <input type="text" class="ps-2" placeholder="Name" name="name"> 
                        </div></br>
                        
                        <div class="d-flex justify-content-between b-bottom"> <input type="text" class="ps-2" placeholder="Phoneno" name="phoneno"> 
                        </div></br>

                        <div class="d-flex justify-content-between b-bottom"> <input type="text" class="ps-2" placeholder="Address" name="address"> 
                        </div></br>

                        <div class="d-flex justify-content-between b-bottom"> <input type="text" class="ps-2" placeholder="City" name="city"> 
                        </div></br>

                        <div class="d-flex justify-content-between b-bottom"> <input type="text" class="ps-2" placeholder="State" name="state"> 
                        </div></br>

                        <div class="d-flex justify-content-between b-bottom"> <input type="text" class="ps-2" placeholder="Pincode" name="pincode"> 
                        </div></br><input type="hidden" name= "totalbillamount" value= "{{totalbill}}"> 
                        <button input="submit" name="Submit">Add Address and Place Order</button>

                    </form>

                    </div>
                   
                        <div class="sale my-3"> <div id="paypal-button-container"></div> </div>
                </div>
                
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
    </body>
</html>