{% extends 'main.html' %}
<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>

    <body>
        {% block mycontent %}
        <script src="https://www.paypal.com/sdk/js?client-id=test&currency=USD"></script>
    
        <script>
            var amount= 2000
         function initPayPalButton() {
            document.getElementById("paypapl").style.visibility ="hidden";
    paypal.Buttons({
    
      style: {
    
        shape: 'rect',
    
        color: 'gold',
    
        layout: 'vertical',
    
        label: 'paypal',
    
       
    
      },
    
    
    
      createOrder: function(data, actions) {
    
        return actions.order.create({
    
          purchase_units: [{"amount":{"currency_code":"USD","value":amount}}]
    
        });
    
      },
    
    
    
      onApprove: function(data, actions) {
    
        return actions.order.capture().then(function(orderData) {
    
         console.log(orderData)
    
          // Full available details
    
          console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
    
    
          
    
          // Show a success message within this page, e.g.
    
          const element = document.getElementById('paypal-button-container');
    
          element.innerHTML = '';
    
          element.innerHTML = '<h3>Thank you for your payment!</h3>'+orderData['id'];
          var data = orderData['id']
          const dsubmit = document.getElementById('oid');
          dsubmit.value = data;
    
    
        //  document.getElementById("datasubmit").form.submit();
    
           window.location.href='http://localhost:8000/payments/'+data
    
         
    
    
         
    
        });
    
      },
    
    
    
      onError: function(err) {
    
        console.log(err);
    
      }
    
    }).render('#paypal-button-container');
    
    }
    
    
    
    </script>
        
            <div class="row px-md-4 px-2 pt-4">
                <div class="col-lg-8">
                    <p class="pb-2 fw-bold">Order</p>
                    <div class="card">
                        <div class="ribbon ribbon-top-right"><span>Product In your Cart</span></div>
                        <div>
                            <div class="table-responsive px-md-4 px-2 pt-3">
                                <table class="table table-borderless">
                                    <tbody>
                                        {% for i in petobj %}
                                        <tr class="border-bottom">
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <div> <img style="object-fit: cover; object-position: center; width: 100px; height: 100px; padding: 10px;" class="pic" src='{{i.productid.image.url}}' alt=""> </div>
                                                    <div class="ps-3 d-flex flex-column justify-content">
                                                        <p class="fw-bold">{{i.productid.name}}</p> <small class=" d-flex"> <span class=" text-muted">Quantity:</span> <span class=" fw-bold">{{i.quantity}}</span> </small> <small class=""> <span class=" text-muted">Total Price:</span> <span class=" fw-bold">{{i.totalamount}}</span> </small>
                                                    </div>
                                                </div>
                                            </td>
                                            
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 payment-summary">
                    <p class="fw-bold pt-lg-0 pt-4 pb-2">Payment Summary</p>
                    <div class="card px-md-3 px-2 pt-4">
                       

                        <div class="unregistered mb-4"><span class="py-1">Total Bill: {{totalbill}} Rs. </span> </div>
                       
                        <div class="card px-md-3 px-2 pt-4">
                        <div class="unregistered mb-4"><span class="py-1">Address</span></div>
                        <div class="d-flex justify-content-between b-bottom"> <input type="text" class="ps-2" placeholder="Name"> 
                        </div></br>

                        <div class="d-flex justify-content-between b-bottom"> <input type="text" class="ps-2" placeholder="Address"> 
                        </div></br>

                        <div class="d-flex justify-content-between b-bottom"> <input type="text" class="ps-2" placeholder="City"> 
                        </div></br>

                        <div class="d-flex justify-content-between b-bottom"> <input type="text" class="ps-2" placeholder="State"> 
                        </div></br>

                        <div class="d-flex justify-content-between b-bottom"> <input type="text" class="ps-2" placeholder="Pincode"> 
                        </div></br>

                        <div class="sale my-3"> <span>sale<span class="px-1">expiring</span><span>in</span>:</span><span class="red">21<span class="ps-1">hours</span>,31<span class="ps-1 ">minutes</span></span> </div>
                    </div>
                    <button onclick="initPayPalButton()" name="paypapl" id="paypapl">Do Payment</button>
                        
                        <div class="sale my-3"> <div id="paypal-button-container"></div> </div>
                </div>
                
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
    </body>
</html>